
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cyblog Dashboard</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__STATIC__/lib/layui/css/layui.css" media="all">
    <link id="layuicss-layer" rel="stylesheet" href="__STATIC__/lib/layui/css/modules/layer/default/layer.css?v=3.1.1" media="all">
    <link id="layuicss-layuiAdmin" rel="stylesheet" href="__STATIC__/lib/layui_admin/src/style/admin.css?v=1.0.0 pro-1" media="all">
    <link rel="stylesheet" href="__STATIC__/lib/layui_admin/src/style/login.css?v=1.0.0 pro-1" media="all">
</head>
<body class="ext-webkit ext-chrome layui-layout-body" id="syno-nsc-ext-gen3" layadmin-themealias="red" style="">
<div id="LAY_app" class="layadmin-tabspage-none">
    <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
        <div class="layadmin-user-login-main">
            <div class="layadmin-user-login-box layadmin-user-login-header">
                <h2>CyBlog Dashboard</h2>
                <p>CyBlog后台管理系统</p>
            </div>
            <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                <form id="login-form">
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
                        <input type="text" name="username" id="LAY-user-login-username" lay-verify="required" placeholder="用户名" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
                        <input type="password" name="password" id="LAY-user-login-password" lay-verify="required" placeholder="密码" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-row">
                            <div class="layui-col-xs7">
                                <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="LAY-user-login-vercode"></label>
                                <input type="text" name="vercode" id="LAY-user-login-vercode" lay-verify="required" placeholder="图形验证码" class="layui-input">
                            </div>
                            <div class="layui-col-xs5">
                                <div style="margin-left: 10px;">
                                    <img src="https://www.oschina.net/action/user/captcha" class="layadmin-user-login-codeimg" id="LAY-user-get-vercode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item" style="margin-bottom: 20px;">
                        <input type="checkbox" name="remember" lay-skin="primary" title="记住密码">
                        <!--<div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>记住密码</span><i class="layui-icon layui-icon-ok"></i></div>-->
                        <!--<a lay-href="/user/forget" class="layadmin-user-jump-change layadmin-link" style="margin-top: 7px;">忘记密码？</a>-->
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="login-submit">登 入</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="__STATIC__/lib/layui/layui.js"></script>
<script src="__STATIC__/lib/jquery/jquery.min.js"></script>
<script src="__STATIC__/app/js/function.js"></script>
<script>
    layui.config({
        base: '__STATIC__/lib/layui_admin/' //指定 layuiAdmin 项目路径，本地开发用 src，线上用 dist
        ,version: '1.0.0'
    });
</script>
<script>
    layui.use('form', function(){
        var form = layui.form;
        //提交
        form.on('submit(login-submit)', login);
        form.render();
    });
</script>
<script>
    document.onkeyup = function (event) {
        var e = event || window.event;
        var keyCode = e.keyCode || e.which;
        switch (keyCode) {
            case 13:
                login()
                break;
        }
    }
</script>
<script type="text/javascript">
    /**
     * 登录
     */
    function login(obj){
        console.log($(obj.form).serialize())
        //请求登入接口
        $.ajax({
            url:"{:url('login_post')}",
            type:'post',
            dataType:'json',
            data:$(obj.form).serialize(),
            success:function(resp){
                //登入成功的提示与跳转
                if(resp.code == 0){
                    layer.msg(resp.msg, {
                        offset: '15px'
                        ,icon: 1
                        ,time: 1000
                    }, function(){
                        setTimeout('jump_url("'+ resp.data.re_url +'")', 1000);
                    });
                } else {
                    msg(resp.msg)
                }

            },
            error:function (resp) {
                msg('网络错误,重试一下吧!')
            }
        })
        return false;
    }
</script>
</html>

