<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>文章管理</cite></a>
        <a><cite>文章列表</cite></a>
    </div>
</div>


<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <a href="javascript:;" lay-href="{:url('art_add','','')}" class="layui-btn layuiadmin-btn-list" data-type="add">添加</a>
            </div>
            <table class="layui-table"  lay-even="" lay-skin="row">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr role="row">
                    <th width="30">ID</th>
                    <th width="80">标题</th>
                    <th width="80">分类</th>
                    <th width="110" class="layui-hide-xs">添加时间</th>
                    <th width="110" class="layui-hide-xs">更新时间</th>
                    <th width="80">操作</th>
                </tr>
                </thead>
                <tbody>
                    {volist name="article" id="row"}
                    <tr role="row" class="odd">
                        <!--<td ><input type="checkbox" value="1" name="groupIds[]"></td>-->
                        <td>{$row.art_id}</td>
                        <td>{$row.art_title}</td>
                        <td>
                            {$row.art_category_name}
                        </td>
                        <td class="layui-hide-xs">{$row.art_create_at|date="Y-m-d H:i:s"}</td>
                        <td class="layui-hide-xs">{$row.art_update_at|date="Y-m-d H:i:s"}</td>
                        <td>

                            <a title="查看" target="_blank" href="/article/{$row.art_id}.html"  ><i class="layui-icon layui-icon-file"></i></a>

                            {if condition="$row.art_status eq '1'"}
                            <a onClick="start_or_stop('{$row.art_id}')" href="javascript:;" title="隐藏">
                                <i class="layui-icon layui-icon-close"></i>
                            </a>
                            {else /}
                            <a onClick="start_or_stop('{$row.art_id}')" href="javascript:;" title="展示">
                                <i class="layui-icon layui-icon-ok"></i>
                            </a>
                            {/if}

                            <a title="编辑" href="javascript:;" lay-href="{:url('art_edit')}?art_id={$row.art_id}" ><i class="layui-icon layui-icon-edit"></i></a>

                            <a title="删除" href="javascript:;" onclick="del('{$row.art_id}')" > <i class="layui-icon layui-icon-delete"></i></a>
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-5">
                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                        当前第<?php echo Request() -> get('page') ? Request() -> get('page') : 1; ?>页，共{$pageTotal}页{$totalRows}条数据
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers layui-box layui-laypage layui-laypage-default" id="paginate">
                        {$page|raw}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        // 转换分页链接
        $('#paginate a').each(function(index, ele) {
            var rawPageUrl = $(ele).attr('href');
            if (rawPageUrl) {
                rawArrPageUrl = rawPageUrl.split('#');
                pageUrl = '#' + rawArrPageUrl[1] + rawArrPageUrl[0];
                $(ele).attr('href', pageUrl);
            }
        })
    })

</script>

<script type="text/javascript">

    /*启用停用*/
    function start_or_stop(id){
        layer.confirm('确认操作吗？',function(index){
            $.ajax({
                url:"{:url('art_enable_or_disable')}",
                type:'post',
                dateType:'json',
                data:{art_id:id},
                success:function (resp) {
                    layer.msg(resp.msg);
                    if(resp.code == '0') {
                        setTimeout('window.location.reload()',1000);
                    }
                },
                error:function(e){
                    success_msg('操作失败！');
                }
            });
        });
    }

    /*删除*/
    function del(id){
        layer.confirm('确认要删除吗？删除后不可恢复！',function(index){
            layer.confirm('您真的要删除吗？',function(index){
                $.ajax({
                    url:"{:url('art_del')}",
                    type:'post',
                    dataType:'json',
                    data:{art_id:id},
                    success:function (resp) {
                        layer.msg(resp.msg);
                        if(resp.code == '0') {
                            setTimeout('window.location.reload()',1000);
                        }
                    },
                    error:function (e) {
                        success_msg('操作失败！');
                    }
                })
            })
        });
    }


</script>