# 开发环境
.idea/*
.project
.vscode

# 缓存
runtime/*

# 扩展
vendor/*

# 日志
log/*
*.log

# 配置文件
config/app.php
config/database.php
!application/extra/neditor.php
application/extra/*
!config/*.php.simple

# 框架信息
composer.lock
thinkphp/
thinkphp/*

# macOS template
# General
.DS_Store
.AppleDouble
.LSOverride
