<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>系统设置</cite></a>
        <a><cite>基础数据设置</cite></a>
    </div>
</div>


<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">
            <h3 class="box-title">添加配置项</h3>
        </div>
        <div class="layui-card-body" pad15="" style="">
            <!-- form start -->
            <form class="layui-form" method="post">
                <!-- text input -->
                <div class="layui-form-item layui-col-md6">
                    <label class="layui-form-label">key: </label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="" placeholder="Enter ..."  name="k">
                    </div>
                </div>
                <div class="layui-form-item layui-col-md6">
                    <label class="layui-form-label">value: </label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" value="" placeholder="Enter ..."  name="v">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="sysconfig">保存</button>
                        <button class="layui-btn" onclick="history.go(-1)">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(sysconfig)', function(data){
            $.ajax({
                url: "{:url('add')}",
                data: $(data.form).serialize(),
                dataType:'json',
                type:'post',
                success:function (resp) {
                    msg(resp.msg);
                    if(resp.code == 0) {
                        setTimeout( 'window.location.reload()',2000);
                    }
                },
                error:function (e) {
                    msg('操作失败');
                }
            })
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        form.render();  // 重新渲染
    });

    function submit()
    {
        var formData = new Object();
        formData['v'] = $('input[name=v]').val();   // 标题

        console.log(formData);
        $.ajax({
            "url": window.location.href,
            'type':'post',
            'data':formData,
            'dataType':'json',
            'success': function (resp) {
                msg(resp.msg);
                if(resp.code == 1) {
                    setTimeout('window.location.href = "{:url('base')}"', 2000);
                }
            },
            'error':function (e) {
                msg('添加失败，再试一次吧！');
            }
        })
    }
</script>
