<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>分类管理</cite></a>
        <a><cite>编辑分类</cite></a>
    </div>
</div>

<div class="layui-fluid" style="">
    <div class="layui-row layui-col-space15" style="">
        <!-- /.col -->
        <div class="col-md-12" style="">
            <div class="layui-card" style="">
                <div class="layui-card-header">
                    <h3 class="box-title">编辑分类</h3>
                </div>
                <div class="layui-card-body" pad15="" style="">
                    <!-- form start -->

                    <form class="layui-form" method="post">
                        <input type="hidden" name="category_id" value="{:input('get.category_id',0,'intval')}">
                        <!-- text input -->
                        <div class="layui-form-item layui-col-md6">
                            <label class="layui-form-label">分类名称: </label>

                            <div class="layui-input-block">
                                <input type="text" class="layui-input" value="{$category.category_name}" placeholder="AUTH NAME"  name="category_name">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="cat_edit">保存</button>
                                <a href="javascript:;" class="layui-btn" lay-href="{:url('index','','')}">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(cat_edit)', function(data){
            $.ajax({
                url: "{:url('cat_Edit')}",
                data: $(data.form).serialize(),
                dataType:'json',
                type:'post',
                success:function (resp) {
                    msg(resp.msg);
                    if(resp.code == 0) {
                        setTimeout( 'window.location.reload()',2000);
                    }
                },
                error:function (e) {
                    msg('操作失败');
                }
            })
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        form.render();  // 重新渲染
    });
</script>
