<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>管理权限设置</cite></a>
        <a><cite>用户组列表</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="app-content-list">
            <h3>用户组列表</h3>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <a href="javascript:;" lay-href="{:url('group_add','','')}" class="layui-btn layuiadmin-btn-list" data-type="add">添加</a>
            </div>
            <table class="layui-table" lay-even="" lay-skin="row">
                <thead>
                <tr role="row">
                    <th width="30">ID</th>
                    <th width="80">组名</th>
                    <th width="80">授权操作Action</th>
                    <th width="110" class="layui-hide-xs">备注</th>
                    <th width="80">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="groupRows" id="row"}
                <tr role="row" class="odd">
                    <!--<td ><input type="checkbox" value="1" name="groupIds[]"></td>-->
                    <td class="sorting_1">{$row.id}</td>
                    <td>{$row.group_name}</td>
                    <td>
                        {volist name="$row.group_actions_name" id="rows"}
                        <span class="layui-badge layui-bg-cyan">{$rows}</span>
                        {/volist}
                    </td>
                    <td class="layui-hide-xs">{$row.group_remarks|htmlspecialchars}</td>
                    <td class="td-group">
                        {if condition="$row.id neq 1"}
                        {if condition="$row.group_status eq '1'"}
                        <a onClick="start_or_stop_group('{$row.id}')" href="javascript:;" title="停用"><i class="layui-icon layui-icon-close"></i></a>
                        {else /}
                        <a onClick="start_or_stop_group('{$row.id}')" href="javascript:;" title="启用"><i class="layui-icon layui-icon-ok"></i></a>
                        {/if}
                        {/if}

                        <a title="编辑" href="javascript:;" lay-href="{:url('group_edit')}?group_id={$row.id}" ><i class="layui-icon layui-icon-edit"></i></a>
                        {if condition="$row.id neq 1"}
                        <a title="删除" href="javascript:;" onclick="del_group('{$row.id}')" > <i class="layui-icon layui-icon-delete"></i></a>
                        {/if}

                    </td>
                </tr>

                {/volist}
                </tbody>
            </table>

            <div class="row">
                <div class="col-sm-5">
                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                        当前第<?php echo Request() -> get('page') ? Request() -> get('page') : 1; ?>页，共{$pageTotal}页{$groupTotalRows}条数据
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                        {$page}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    /*用户-启用停用*/
    function start_or_stop_group(id){
        layer.confirm('确认操作吗？',function(index){
            $.ajax({
                url:"{:url('group_enable_or_disable')}",
                type:'post',
                dateType:'json',
                data:{g_id:id},
                success:function (resp) {
                    layer.msg(resp.msg);
                    if(resp.code == '0') {
                        setTimeout('window.location.reload()',1000);
                    }
                },
                error:function(e){
                    success_msg('操作失败！');
                }
            });
        });
    }

    /*用户组-删除*/
    function del_group(id){
        layer.confirm('确认要删除吗？删除后不可恢复！',function(index){
            layer.confirm('您真的要删除吗？',function(index){
                $.ajax({
                    url:"{:url('group_del')}",
                    type:'post',
                    dataType:'json',
                    data:{g_id:id},
                    success:function (resp) {
                        layer.msg(resp.msg);
                        if(resp.code == '0') {
                            setTimeout('window.location.reload()',1000);
                        }
                    },
                    error:function (e) {
                        success_msg('操作失败！');
                    }
                })
            })
        });
    }

</script>
