<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>权限管理</cite></a>
        <a><cite>增加用户</cite></a>
    </div>
</div>

<div class="layui-fluid" style="">
    <div class="layui-row layui-col-space15" style="">
        <!-- /.col -->
        <div class="col-md-12" style="">
            <div class="layui-card" style="">
                <div class="layui-card-header">
                    <h3 class="box-title">新增用户</h3>
                </div>
                <div class="layui-card-body" pad15="" style="">
                    <!-- form start -->
                    <form class="layui-form" method="post">
                        <input type="hidden" name="manage_id" value="{:input('get.manage_id',0,'intval')}">
                        <!-- text input -->
                        <div class="layui-form-item layui-col-md6">
                            <label class="layui-form-label">用户名: </label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" value="" placeholder="请设置用户名"  name="username" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item layui-col-md6">
                            <label class="layui-form-label">真实姓名: </label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" value="" placeholder="请填写真实姓名"  name="truename"  lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item layui-col-md6">
                            <label class="layui-form-label">手机: </label>
                            <div class="layui-input-block">
                                <input type="tel" class="layui-input" value="" placeholder="请填写手机号"  name="telphone"  lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item layui-col-md6">
                            <label class="layui-form-label">邮箱: </label>
                            <div class="layui-input-block">
                                <input type="email" class="layui-input" value="" placeholder="example@domain.com"  name="email">
                            </div>
                        </div>
                        <div class="layui-form-item layui-col-md6">
                            <label class="layui-form-label">密码: </label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" value="" placeholder="请设置新用户的密码"  name="password" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item layui-col-md12" >
                            <label class="layui-form-label">授权组: </label>
                            <div class=center-block>
                                {volist name="$group_list" id="row"}
                                <input type="checkbox" name="auth_group[]" title="{$row.group_name}" value="{$row.id}">
                                {/volist}
                            </div>

                        </div>
                        <div class="layui-form-item layui-col-md12">
                            <label class="layui-form-label">是否启用：</label>
                            <div class=layui-input-block>
                                <input type="radio" name="status" title="启用" value="1" checked>
                                <input type="radio" name="status" title="禁用" value="0" >
                            </div>
                        </div>
                        <!-- textarea -->
                        <div class="layui-form-item layui-col-md12">
                            <label class="layui-form-label">备注：</label>
                            <div class="layui-input-block">
                                <textarea class="layui-textarea" rows="5" name="remarks"  placeholder="说点什么...最少输入10个字符"  ></textarea>
                            </div>
                            <!--<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>-->
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
                                <a href="javascript:;" class="layui-btn" lay-href="{:url('manage_list','','')}">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function submit()
    {
        $.ajax({
            url:"{:url('manage_add')}",
            data:$('form').serialize(),
            dataType:'json',
            type:'post',
            success:function (resp) {
                msg(resp.msg);
                if(resp.code == '1'){
                    setTimeout('jump_url("'+resp.data.url+'")', 1000);
                }
            },
            error:function (e) {
                msg('操作失败');
            }
        })
    }
</script>

<script>
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(submit)', function(data){
            $.ajax({
                url: "{:url('manage_add')}",
                data: $(data.form).serialize(),
                dataType:'json',
                type:'post',
                success:function (resp) {
                    msg(resp.msg);
                    if(resp.code == 0) {
                        setTimeout( 'window.location.reload()',2000);
                    }
                },
                error:function (e) {
                    msg('操作失败');
                }
            })
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        form.render();  // 重新渲染
    });
</script>
