{extend name="layout::layout"}
{block name="htmlTitle"}Dashboard Control{/block}
{block name="htmlContent"}
<div class="content-wrapper" style="min-height: 946px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            添加信息
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="#">管理权限设置</a></li>
            <li class="active">添加信息</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- column -->
            <div class="col-md-12">
                <!-- /.box -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">添加人员信息</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form">
                            <!-- text input -->
                            <div class="form-group col-md-6">
                                <label>用户名: </label>
                                <input type="text" class="form-control" value="" placeholder="请设置用户名"  name="username">
                            </div>
                            <div class="form-group col-md-6">
                                <label>真实姓名: </label>
                                <input type="text" class="form-control" value="" placeholder="请填写真实姓名"  name="truename">
                            </div>
                            <div class="form-group col-md-6">
                                <label>手机: </label>
                                <input type="tel" class="form-control" value="" placeholder="请填写手机号"  name="telphone">
                            </div>
                            <div class="form-group col-md-6">
                                <label>邮箱: </label>
                                <input type="email" class="form-control" value="" placeholder="example@domain.com"  name="email">
                            </div>
                            <div class="form-group col-md-6">
                                <label>密码: </label>
                                <input type="text" class="form-control" value="" placeholder="请设置新用户的密码"  name="password">
                            </div>

                            <div class="form-group col-md-12">
                                <label>授权组：</label>
                                <div class=box-group>
                                    <div class="checkbox ">
                                        {volist name="$group_list" id="row"}
                                        <label>
                                            <input type="checkbox" name="auth_group[]" value="{$row.id}" id="auth_group_{$row.id}">
                                            {$row.group_name}
                                        </label>
                                        {/volist}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label>是否启用：</label>
                                <div class=box-group>
                                    <div class="checkbox ">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="status" value="1" checked>
                                                启用
                                            </label>

                                            <label>
                                                <input type="radio" name="status"  value="0" >
                                                禁用
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- textarea -->
                            <div class="form-group  col-md-12">
                                <label>备注:</label>
                                <textarea class="form-control" rows="5" name="remarks"  placeholder="说点什么...最少输入10个字符"  ></textarea>
                                <!--<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>-->
                            </div>

                        </form>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="button" class="btn btn-default" onclick="javascript:window.history.back()">取消</button>
                        <button type="button" class="btn btn-info pull-right" onclick="submit()">添加</button>
                    </div>
                </div>
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
{/block}
{block name="htmlJS"}
<script type="text/javascript">
    function submit()
    {
        $.ajax({
            url:"{:url('manage_add')}",
            data:$('form').serialize(),
            dataType:'json',
            type:'post',
            success:function (resp) {
                msg(resp.msg);
                if(resp.code == '1'){
                    setTimeout('jump_url("'+resp.data.url+'")', 1000);
                }
            },
            error:function (e) {
                msg('修改失败');
            }
        })
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
