<html>
<head>
    {include file="layout:meta" /}
    <title>{block name="htmlTitle"}Dashboard Control{/block}</title>
    <meta name="keywords" content="{$keywords|default=''}">
    <meta name="description" content="{$description|default=''}">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {include file="layout:header" /}
    {include file="layout:menu" /}
    {block name="htmlContent"}
    {/block}

    {include file="layout:slidebar_control" /}
    {include file="layout:footer" /}
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
</body>
{include file="layout:footer_script" /}
{block name="htmlJS"}
<!--请在下方写此页面业务相关的脚本-->

<!--/请在上方写此页面业务相关的脚本-->
{/block}
</html>