<!DOCTYPE HTML>
<html>
<head>
    {include file="layout::meta" /}
    <title>{block name="htmlTitle"}Dashboard Control{/block}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
</head>
<body>
{block name="htmlContent"}{/block}
{include file="layout::footer" /}
</body>
<script type="text/javascript">

    menuobj = $('#menu-{:strtolower($Request.controller)}');
    menuobj.find('dt').addClass('selected');
    menuobj.find('dd').show();

</script>
{block name="htmlJS"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</html>