{extend name="layout::layout"}
{block name="htmlTitle"}Dashboard Control{/block}
{block name="htmlContent"}
<div class="content-wrapper" _vimium-has-onclick-listener="" style="min-height: 990px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            添加文章
            <small>ADD ARTICLE</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="#">文章管理</a></li>
            <li class="active">添加文章</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <form role="form" method="post">

                <!-- column left-->
                <div class="col-md-9">
                    <!-- general form elements disabled -->
                    <div class="box box-warning" _vimium-has-onclick-listener="">
                        <div class="box-header with-border">
                            <h3 class="box-title">编辑文章</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>标题：</label>
                                    <input type="text" name="art_title" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>摘要</label>
                                    <textarea name="art_desc" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                                </div>
                                <div class="form-group">
                                    <!--<label>文章内容</label>-->
                                    <textarea name="art_content" id="editor" style="width:100%;height: 500px;"></textarea>

                                </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div onclick="article_submit()" class="btn btn-primary">Submit</div>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col -->
                <!-- column right-->
                <div class="col-md-3">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">相关设置</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label>分类设置</label>
                                <select name="art_class_id" class="form-control">
                                    <option value="0">请选择分类</option>
                                    {volist name="category" id="vo"}
                                        <option value="{$vo -> cat_id|default=''}">{$vo -> cat_class_name|default='读取失败'}</option>
                                    {/volist}
                                </select>
                            </div>

                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label>文章缩略图</label>
                                <div class="box-group" onclick="setBanner(this)">
                                    <img class="img-bordered img-thumbnail banner-show" name="banner_name" src="{$defaultBannerUrl}" alt="home-banner">
                                    <input type="hidden" class="banner-value" value="">
                                </div>
                                <div class="box-footer">
                                    <div class="hidden">
                                        <input type="file" id="upfile" name="upfile">
                                    </div>
                                    <div class="btn btn-dropbox" onclick="setBanner(this)">设置Banner</div>
                                    <div class="btn btn-danger" onclick="removeBanner(this)">移除Banner</div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            SETTINGS
                        </div>
                    </div>
                </div>
                <!--/.col -->
            </form>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
{/block}
{block name="htmlJS"}
<script type="text/javascript" charset="utf-8" src="__CDN_STATIC__/neditor/neditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__CDN_STATIC__/neditor/neditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="__CDN_STATIC__/neditor/i18n/zh-cn/zh-cn.js"></script>
<script src="https://cdn.bootcss.com/jquery.form/3.20/jquery.form.min.js"></script>
<script>
    // 写form表单
    $('#upfile').wrap('<form id="bannerUpForm" action="{:url("neditor/controller")}?action=uploadimage&encode=utf-8" method="post" enctype="multipart/form-data"></form>');

    $('#upfile').change(function(e) {
        $("#bannerUpForm").ajaxSubmit({
            dataType: 'json',
            beforeSend: function () {
            },
            success: function (resp) {
                if(resp.state == 'SUCCESS') {
                    // 上传成功
                    $('.banner-show').attr('src',resp.url);
                    $('.banner-value').val(resp.url);
                }
            },
            error: function (xhr) {
            }
        });

    });

    function setBanner(ele)
    {
        $('#upfile').click()
    }

    function removeBanner(ele)
    {
        var defaultBanner = "{$defaultBannerUrl}";
        $('.banner-show').attr('src', defaultBanner);
        $('.banner-value').val('');
    }
</script>
<script>
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');

    function article_submit()
    {
        var formData = new Object();
        formData['art_title'] = $('input[name=art_title]').val();   // 标题
        formData['art_desc'] = $('textarea[name=art_desc]').val();  // 描述
        formData['art_content'] = ue.getContent();  // 带标签的内容
        formData['art_content_text'] = ue.getPlainTxt(); //不带标签的内容
        formData['art_class_id'] = $('select[name=art_class_id]').val(); //classid
        formData['art_banner_url'] = $('.banner-value').val(); //classid
        // 分类
        // 缩略图

        console.log(formData);
        $.ajax({
            "url": window.location.href,
            'type':'post',
            'data':formData,
            'dataType':'json',
            'success': function (resp) {
                msg(resp.msg);
                if(resp.code == 1) {
                    setTimeout('window.location.href = "{:url('article/index')}"', 2000);
                }
            },
            'error':function (e) {
                msg('添加失败，再试一次吧！');
            }
        })
    }
</script>
{/block}