<div class="full-screen">
    <div class="top-area">
        <div class="container">
            <h1>Article</h1>
            <p>-- All Article</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9 articles">
                <!--    Article.   -->
                <ul class="row">
                    {volist name="articles" id="article" empty=""}
                    <li class="col-lg-6 col-md-6 col-sm-12 ">
                        <div class="article-item" >
                            <a href="{:url('/article/'.$article.art_id)}">
                                <div class="article-thumb">
                                    <img src="{$article.art_banner|default=$sysConfig.article_default_banner_url}" alt="">
                                    <i class="light"></i>
                                </div>
                                <h2 class="article-title">
                                    {$article.art_title|default="Null"}
                                </h2>
                                <h3 class="article-data">
                                    <i class="layui-icon layui-icon-note"></i><span>测试</span>
                                    <i class="layui-icon layui-icon-flag"></i><span>3214</span>
                                    <i class="layui-icon layui-icon-date"></i><span>2019-11-01 17:33</span>
                                </h3>
                                <p>
                                    {:\\app\\common\\tool\\Str::cut($article.art_desc)}
                                </p>

                            </a>
                        </div>
                    </li>
                    {/volist}
                </ul>
                <!--    End Article.    -->
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 right-slider">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="Page text-center">
            {$articles->render()|raw}
        </div>

    </div>
</div>