<div class="full-screen">
    <div class="layui-container">
        <div class="row articles">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md8">
                <!--    Article.   -->
                <ul class="row">
                    {volist name="articles" id="article" empty=""}
                    <li class="layui-col-md6 layui-col-sm6 layui-col-xs12 ">
                        <div class="article-item" >
                            <a href="{:url('/article/'.$article.art_id)}">
                                <div class="article-thumb">
                                    <img src="{$article.art_banner|default=$sysConfig.article_default_banner_url}" alt="">
                                </div>
                                <h3 class="article-title">
                                    {$article.art_title|default="Null"}
                                </h3>
                                <p>
                                    {:\\app\\common\\tool\\Str::cut($article.art_desc)}
                                </p>
                                <div class="article-data">
                                    <i class="layui-icon layui-icon-note"></i><span>测试</span>
                                    <i class="layui-icon layui-icon-flag"></i><span>3214</span>
                                    <i class="layui-icon layui-icon-date"></i><span>2019-11-01 17:33</span>
                                </div>
                            </a>
                        </div>
                    </li>
                    {/volist}
                </ul>
                <div class="layui-box layui-laypage layui-laypage-default">
                    {$articles->render()|raw}
                </div>
                <!--    End Article.    -->
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">卡片面板</div>
                    <div class="layui-card-body">
                        卡片式面板面板通常用于非白色背景色的主体内<br>
                        从而映衬出边框投影
                    </div>
                </div>
                <div class="layui-card">
                    <div class="layui-card-header">卡片面板</div>
                    <div class="layui-card-body">
                        卡片式面板面板通常用于非白色背景色的主体内<br>
                        从而映衬出边框投影
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>